<ion-content id="context-login">
    <app-header class="unauthenticated"></app-header>
    <h1 class="WPB">Loge in.</h1>
    <div class="input-seperator">
        <ion-label>email</ion-label>
        <ion-input placeholder="type ur email" id="new-account-email" type="email"></ion-input>
    </div>
    <div class="input-seperator">
        <ion-label>password</ion-label>
        <ion-input placeholder="type ur pw" id="new-account-email" type="password"></ion-input>
    </div>
    <ion-button class="basic-btn" routerLink="/tablinks">
        go forth
    </ion-button>
    <p class="fira-p">Need to make an account? <a href="/login">Click here</a></p>
</ion-content>