<ion-app>
  <ion-router-outlet>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/new-song">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            viewBox="0 0 21.352 21.352"
          >
            <g id="file-add" transform="translate(-8 -2)">
              <path
                id="newsong"
                data-name="New Song Icon"
                d="M18.676,2A10.676,10.676,0,1,0,29.352,12.676,10.676,10.676,0,0,0,18.676,2Zm5.338,12.01h-4v4H17.341v-4h-4V11.341h4v-4H20.01v4h4Z"
              ></path>
            </g>
          </svg>
          <ion-label>new song</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/my-log">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28.7"
            height="30"
            viewBox="0 0 20.423 21.352"
          >
            <g id="wood" transform="translate(-3 -1)">
              <path
                id="mylog"
                data-name="My Log Icon"
                d="M22.959,1H20.175a.465.465,0,0,0-.431.292L18.318,4.856,16.892,1.292A.464.464,0,0,0,16.461,1H9.034a.464.464,0,0,0-.464.464v9.283L5.6,8.52a.464.464,0,0,0-.606.043L3.136,10.419a.464.464,0,0,0-.043.607l5.477,7.3v3.559a.464.464,0,0,0,.464.464h4.177V16.317a.464.464,0,0,1,.928,0v6.034h8.819a.464.464,0,0,0,.464-.464V1.464A.464.464,0,0,0,22.959,1ZM14.14,13.532a.464.464,0,0,1-.928,0V12.6a.464.464,0,0,1,.928,0Z"
                transform="translate(0)"
              ></path>
            </g>
          </svg>
          <ion-label>my log</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>

  </ion-router-outlet>
</ion-app>
