<ion-content>
    <app-header></app-header>
    <h1>
        Welcome to your log
    </h1>
    <ion-infinite-scroll>
        <ion-infinite-scroll-content loadingText="loading mas..." loadingSpinner="crescent">
            <p class="log-content">
                <span class="date">oct 31 2021   08:42:04pm</span>
                <span class="song">"More Than My Hometown" by Morgan Wallen</span>
            </p>
            <p class="log-content">
                <span class="date">oct 31 2021   08:42:04pm</span>
                <span class="song">"More Than My Hometown" by Morgan Wallen</span>
            </p>
            <p class="log-content">
                <span class="date">oct 31 2021   08:42:04pm</span>
                <span class="song">"More Than My Hometown" by Morgan Wallen</span>
            </p>
            <p class="log-content">
                <span class="date">oct 31 2021   08:42:04pm</span>
                <span class="song">"More Than My Hometown" by Morgan Wallen</span>
            </p>
            <p class="log-content">
                <span class="date">oct 31 2021   08:42:04pm</span>
                <span class="song">"More Than My Hometown" by Morgan Wallen</span>
            </p>
            <p class="log-content">
                <span class="date">oct 31 2021   08:42:04pm</span>
                <span class="song">"More Than My Hometown" by Morgan Wallen</span>
            </p>
            <p class="log-content">
                <span class="date">oct 31 2021   08:42:04pm</span>
                <span class="song">"More Than My Hometown" by Morgan Wallen</span>
            </p>
            <p class="log-content">
                <span class="date">oct 31 2021   08:42:04pm</span>
                <span class="song">"More Than My Hometown" by Morgan Wallen</span>
            </p>
            <p class="log-content">
                <span class="date">oct 31 2021   08:42:04pm</span>
                <span class="song">"More Than My Hometown" by Morgan Wallen</span>
            </p>
            <p class="log-content">
                <span class="date">oct 31 2021   08:42:04pm</span>
                <span class="song">"More Than My Hometown" by Morgan Wallen</span>
            </p>
            <p class="log-content">
                <span class="date">oct 31 2021   08:42:04pm</span>
                <span class="song">"More Than My Hometown" by Morgan Wallen</span>
            </p>
            <p class="log-content">
                <span class="date">oct 31 2021   08:42:04pm</span>
                <span class="song">"More Than My Hometown" by Morgan Wallen</span>
            </p>
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
<div class="fade-out"></div>